@charset "UTF-8";
html {
  display: flex;
  color: white;
  /* stylelint-disable-line */
  background-color: rgba(0, 0, 0, 0.8);
  /*    box-sizing: border-box;
 max-width: 1200px;
 margin-right: 20px;
 margin-left: 20px;
//  font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 line-height: 1.5;
 display: flex;
*/ }

/*Style fyrir videos*/
/*  style for the title   */
.Fyrirsogn {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2em; }
  @media (max-width: 700px) {
    .Fyrirsogn {
      font-size: 1.5em; } }

/*  Style fyror title*/
/*  style for video and poster  */
.videoDiv {
  background-color: rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative; }

/*  style for svg   */
.pic {
  padding: 6px;
  width: 7%;
  height: 4%; }
  @media (min-width: 1000px) {
    .pic {
      width: 5%;
      height: 2%; } }

.media {
  position: relative; }

/*  Style for the play button inside the pictures*/
/*  Style for the container that keeps the svg icons  */
.container {
  padding: 15px;
  display: flex;
  justify-content: center; }

/* Style for the text to go back to index.html */
.back {
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center; }

.owerlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(/img/play.svg);
  background-size: 20% 20%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }
  @media (min-width: 1000px) {
    .owerlay {
      background-size: 20% 20%; } }

.flex-Line-Lefter {
  animation-duration: 3s;
  animation-name: slideLefter; }

@keyframes slideLefter {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0;
    width: 100%; } }

/**************************/
.flex-Line-Righter {
  animation-duration: 3s;
  animation-name: slideRighter; }

@keyframes slideRighter {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0;
    width: 100%; } }

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-left: 20px / 2;
  padding-right: 20px / 2; }
  .col-12 {
    width: 100%; }
  .col-8 {
    width: 66.66667%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 800px) {
    .col-sm-12 {
      padding-right: 20px / 2;
      padding-left: 20px / 2; }
      .col-sm-12-12 {
        width: 100%; }
      .col-sm-12-8 {
        width: 66.66667%; }
      .col-sm-12-6 {
        width: 50%; }
      .col-sm-12-4 {
        width: 33.33333%; }
      .col-sm-12-3 {
        width: 25%; }
      .col-sm-12-1 {
        width: 8.33333%; } }
  @media (max-width: 800px) and (max-width: 599px) {
    .col-sm-12-sm-12 {
      width: 100%; }
    .col-sm-12-sm-6 {
      width: 50%; } }

/*  Þetta sass mun sjá um frontpageid */
/*  það er oll síðan  */
/* red */
h2 {
  /* stylelint disable Line */
  font-size: 2.5em; }

p {
  /* stylelint disable Line */
  font-size: 1.5em;
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.durationDiv {
  position: absolute;
  margin-top: 16%;
  margin-left: 28%; }

.flex-Line {
  display: flex; }
  @media (max-width: 500px) {
    .flex-Line {
      flex-flow: wrap; } }
  @media (min-width: 501px) and (max-width: 1000px) {
    .flex-Line {
      flex-flow: row wrap; } }
  @media (min-width: 1001px) {
    .flex-Line {
      width: 100%;
      flex-flow: nowrap; } }
  .flex-Line-item {
    padding: 10px; }
    @media (max-width: 500px) {
      .flex-Line-item {
        width: 90%; } }
    @media (min-width: 1000px) {
      .flex-Line-item {
        width: 33%; } }
    @media (min-width: 501px) and (max-width: 999px) {
      .flex-Line-item {
        width: 40%; } }

.seperator {
  padding: 30px;
  margin-left: 8%;
  margin-right: 8%;
  border-bottom: solid 1px;
  color: #eee; }

img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

/*Style fyrir videos*/
/*  style for the title   */
.Fyrirsogn {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 2em; }
  @media (max-width: 700px) {
    .Fyrirsogn {
      font-size: 1.5em; } }

/*  Style fyror title*/
/*  style for video and poster  */
.videoDiv {
  background-color: rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  position: relative; }

/*  style for svg   */
.pic {
  padding: 6px;
  width: 7%;
  height: 4%; }
  @media (min-width: 1000px) {
    .pic {
      width: 5%;
      height: 2%; } }

.media {
  position: relative; }

/*  Style for the play button inside the pictures*/
/*  Style for the container that keeps the svg icons  */
.container {
  padding: 15px;
  display: flex;
  justify-content: center; }

/* Style for the text to go back to index.html */
.back {
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center; }

.owerlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url(/img/play.svg);
  background-size: 20% 20%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1; }
  @media (min-width: 1000px) {
    .owerlay {
      background-size: 20% 20%; } }
