@charset "UTF-8";
html {
  /* stylelint-disable-line */
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8); }

/* Style fyrir videos */
/*  style for the title   */
.Fyrirsogn {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff; }
  @media (max-width: 700px) {
    .Fyrirsogn {
      font-size: 1.5em; } }

.skilabod {
  display: flex;
  justify-content: center;
  margin-bottom: 15em;
  font-size: 1.5em; }

/* Style fyror title */
/* style for video and poster */
.videoDiv {
  position: relative;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.2); }

/*  style for svg   */
.pic {
  width: 7%;
  height: 4%;
  padding: 6px; }
  @media (min-width: 1000px) {
    .pic {
      width: 5%;
      height: 2%; } }

.media {
  position: relative; }

/*  Style for the container that keeps the svg icons  */
.container {
  display: flex;
  padding: 15px;
  justify-content: center; }

/* Style for the text to go back to index.html */
.back {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer; }

.owerlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20% 20%; }
  @media (min-width: 1000px) {
    .owerlay {
      background-size: 20% 20%; } }

/*  Style for the errorTxtmsg */
.errorSkilabod {
  position: absolute;
  z-index: -1;
  top: 15.3em;
  left: 24.62em;
  font-size: 1.5em; }

/*  Þetta sass mun sjá um frontpageid */
h2 {
  /* stylelint disable Line */
  font-size: 2.5em; }

p {
  /* stylelint disable Line */
  width: 12em;
  overflow: hidden;
  font-size: 1.5em;
  text-overflow: ellipsis;
  white-space: nowrap; }

.durationDiv {
  position: relative;
  z-index: 1000;
  float: right;
  padding: 0.25em 0.5em;
  margin-top: -3em;
  margin-right: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em; }

.flex-Line {
  display: flex; }
  @media (max-width: 500px) {
    .flex-Line {
      flex-flow: wrap; } }
  @media (min-width: 501px) and (max-width: 1000px) {
    .flex-Line {
      flex-flow: row wrap; } }
  @media (min-width: 1001px) {
    .flex-Line {
      width: 100%;
      flex-flow: nowrap; } }
  .flex-Line-item {
    padding: 10px; }
    @media (max-width: 500px) {
      .flex-Line-item {
        width: 90%; } }
    @media (min-width: 1000px) {
      .flex-Line-item {
        width: 33%; } }
    @media (min-width: 501px) and (max-width: 999px) {
      .flex-Line-item {
        width: 40%; } }

.seperator {
  padding: 30px;
  margin-right: 8%;
  margin-left: 8%;
  color: #eee;
  border-bottom: solid 1px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Style fyrir videos */
/*  style for the title   */
.Fyrirsogn {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff; }
  @media (max-width: 700px) {
    .Fyrirsogn {
      font-size: 1.5em; } }

.skilabod {
  display: flex;
  justify-content: center;
  margin-bottom: 15em;
  font-size: 1.5em; }

/* Style fyror title */
/* style for video and poster */
.videoDiv {
  position: relative;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.2); }

/*  style for svg   */
.pic {
  width: 7%;
  height: 4%;
  padding: 6px; }
  @media (min-width: 1000px) {
    .pic {
      width: 5%;
      height: 2%; } }

.media {
  position: relative; }

/*  Style for the container that keeps the svg icons  */
.container {
  display: flex;
  padding: 15px;
  justify-content: center; }

/* Style for the text to go back to index.html */
.back {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer; }

.owerlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20% 20%; }
  @media (min-width: 1000px) {
    .owerlay {
      background-size: 20% 20%; } }
