
// mæli með að hafa „almenna“ stíla hér

body { // stylelint-disable-line
}
html {
  display: flex;
 /* stylelint-disable-line */
 max-width: 75em;
background-color: rgba(0, 0, 0, 0.8);
color: rgba(255, 2, 255, 1);
/*    box-sizing: border-box;
 max-width: 1200px;
 margin-right: 20px;
 margin-left: 20px;
//  font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 line-height: 1.5;
 display: flex;
*/  //justify-content: center;
}
.p{
  font-size: 50em;
  color: white;
}

/*, *:before, *:after {
//      /* stylelint-disable-line */
//    box-sizing: inherit;
 /* fjarlægjum margin og padding */
//  padding: 0;
 //margin: 0;
//  }


@import "scss/frontpage";
@import "scss/videos";
@import "scss/grid";