
// mæli með að hafa „almenna“ stíla hér

body { // stylelint-disable-line
}

html { /* stylelint-disable-line */
  display: flex;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

@import "scss/videos";
@import "scss/errorMsg";
@import "scss/frontpage";
@import "scss/videos";
