/*Þetta sass mun sjá um frontpageid*/
/*það er oll síðan*/
/* red */
html {
  /*Bakgrunnur settur sem grar*/
  background-color: rgba(0, 0, 0, 0.5);
  color: #ff02ff;
  max-width: 10px;
  color: white;
  font-size: 1em; }

.a {
  color: red;
  background-color: blue; }

/*Header er fyrir textan mynbandaleiga*/
header {
  display: flex;
  justify-content: flex-start;
  /*textinn skalaður sem font size 1em*/
  font-size: 3em; }

/*fyrir hverja fyrirsögn s.s.nyleg myndbönd og kennslumyndbond */
/*unorded list */
ul {
  display: flex;
  /*ef media verður minni en 500 px þá wrap*/ }
  @media (max-width: 500px) {
    ul {
      flex-wrap: wrap; } }

/*fyrir hvert stak í listanum og þau eru 2 hér þarf að byrja að gera rad fyrir media*/
