/*Þetta sass mun sjá um frontpageid*/
/*það er oll síðan*/
   /* red */
<<<<<<< HEAD
html {
    /*Bakgrunnur settur sem grar*/
    background-color: rgba(0, 0, 0, 0.5);
    color: #ff02ff;
    max-width: 10px;
    color: white;
    font-size: 1em;
}
.a{
  color: red;
  background-color: blue;
=======
     html {
      /* stylelint-disable-line */
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 2, 255, 1);
      box-sizing: border-box;
      margin-right: 20px;
      margin-left: 20px;
    //  font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
  }

  *, *:before, *:after {
      /* stylelint-disable-line */
      box-sizing: inherit;
      /* fjarlægjum margin og padding */
      padding: 0;
      margin: 0;
  }

.line{
  display: flex;
  justify-content: flex-end;

}
.list{

>>>>>>> origin/master
}
/*Header er fyrir textan mynbandaleiga*/
.header{
  color: blue;
}
/*  fyrir hverja fyrirsögn s.s.nyleg myndbönd og kennslumyndbond */
.title{
  font-size: 10em;

}
/*unorded list */
ul{
  color: green;
  display: flex;

  /*ef media verður minni en 500 px þá wrap*/
  @media(max-width: 500px){
    flex-wrap: wrap;
  }
}
/*fyrir hvert stak í listanum og þau eru 2 hér þarf að byrja að gera rad fyrir media*/
li{

    }

.line {
    display: flex;
    justify-content: center;

}
img{
    height: 100%;
    padding: 25px 25px 25px 25px;
    width: 100%;
    object-fit: cover;
}