/*  Þetta sass mun sjá um frontpageid */

.durationDiv {
  position: relative;
  z-index: 1000;
  float: right;
  padding: 0.25em 0.5em;
  margin-top: -3em;
  margin-right: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
}

.flex-Line {
  display: flex;

  @media (max-width: 500px) {
    flex-flow: wrap;
  }
  @media (min-width: 501px)and (max-width: 1000px) {
    flex-flow: row wrap;
  }
  @media (min-width: 1001px) {
    width: 100%;
    flex-flow: nowrap;
  }

  &-item {
    //min-width: 490px;
    padding: 10px;
    @media (max-width: 500px) {
      width: 90%;
    }
    @media (min-width: 1000px) {
      width: 33%;
    }
    @media (min-width: 501px) and (max-width: 999px) {
      width: 40%;
    }
  }
}

.seperator {
  padding: 30px;
  margin-right: 8%;
  margin-left: 8%;
  color: #eee;
  border-bottom: solid 1px;
}
