/*  Þetta sass mun sjá um frontpageid */
/*  það er oll síðan  */
   /* red */
h2{/* stylelint disable Line */
  font-size: 2.5em;
}
p{/* stylelint disable Line */
  font-size: 1.5em;
}
.flex-Line{
  display: flex;
  //max-width: 100%;
@media(max-width: 500px){
  flex-flow: wrap;
}
@media(min-width: 501px)and (max-width: 1000px){
 flex-flow: row wrap;
}
@media(min-width: 1001px){
  width: 100%;
flex-flow: nowrap;

}
  &-item{

    padding: 10px;
    @media(max-width: 500px){


    }
    @media(min-width: 1000px){
      color: green;

    }
    @media(min-width: 501px)and(max-width: 999px){
      width: 40%;

    }
  }
}
.seperator{
padding: 30px;
margin-left: 8%;
margin-right: 8%;
border-bottom: solid 1px;
}

img{
    height: 100%;
    //margin:20px 20px 20px 20px;
    width: 100%;
    object-fit: cover;
}
