/*  Þetta sass mun sjá um frontpageid */
/*  það er oll síðan  */
   /* red */
h2{/* stylelint disable Line */
  font-size: 2.5em;
}
p{* stylelint disable Line */
  font-size: 1.5em;
}
.flex-Line{
  @media(min-width: 600px){
    display: flex;
    flex-flow: nowrap;
  }
  &-item{
    padding: 10px;
  }

}
.seperator{
padding: 30px;
margin-left: 8%;
margin-right: 8%;
border-bottom: solid 1px;
}
.single{
  @media (min-width: 600px){
    display: flex;
    flex-flow: nowrap;
    max-width: 50%;
  }
}

img{
    height: 100%;
    //margin:20px 20px 20px 20px;
    width: 100%;
    object-fit: cover;
}
