/*Þetta sass mun sjá um frontpageid*/
/*það er öll síðan*/
   /* red */
<<<<<<< HEAD
main{
  /*Bakgrunnur settur sem grár*/
=======
html{
  /*Bakgrunnur settur sem grar*/
>>>>>>> c4dc74394391b8f6bd277f8dca1820712d5893fc
  background-color: rgb(0, 0, 0, 0.5);
  color: rgb(255, 2, 255, 255);
  max-width: 10px;

  //allur texti settur sem hvítur
  color: white;
  font-size: 1em;
}
a{
  color: red;
  background-color: blue;
}
/*Header er fyrir textan mynbandaleiga*/
header{
  display: flex;
  justify-content: flex-start;
  /*textinn skalaður sem font size 1em*/
  font-size: 3em;
}
/*fyrir hverja fyrirsögn s.s.nyleg myndbönd og kennslumyndbond */
title{

}
/*unorded list */
ul{
  display: flex;
  /*ef media verður minni en 500 px þá wrap*/
  @media(max-width: 500px){
    flex-wrap: wrap;
  }

}
/*fyrir hvert stak í listanum og þau eru 2 hér þarf að byrja að gera rad fyrir media*/
li{


}
