.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: -(20px / 2);
    margin-bottom: 20px;
    margin-left: -(20px / 2);
    max-width: 75em;
}

// mixin sem reiknar nákvæmar prósentur útfrá dálkum
@mixin columns($col: 1) {
    // margföldum með "1%" til að breyta gildi í prósentu gildi
    width: ($col / 12 * 100) * 1%;
}

.col {
    padding-left: 20px / 2;
    padding-right: 20px / 2;

    &-12 {
        @include columns(12);

    }

    &-8 {
        @include columns(8);

    }

    &-6 {
        @include columns(6);

    }

    &-4 {
        @include columns(4);

    }

    &-sm {
        @media (max-width: 200px) {
            &-12 {
                padding-right: 20px / 2;
                padding-left: 20px / 2;

                &-12 {
                    @include columns(12);
                }

                &-8 {
                    @include columns(8);
                }

                &-6 {
                    @include columns(6);
                }

                &-4 {
                    @include columns(4);
                }

                &-3 {
                    @include columns(3);
                }

                &-1 {
                    @include columns(1);
                }

                &-sm {
                    @media (max-width: 200px) {
                        &-12 {
                            @include columns(12);
                        }

                        &-6 {
                            @include columns(6);
                        }
                      }
                    }
                  }
                }
              }
            }
