/* Style fyrir videos */

/*  style for the title   */

.Fyrirsogn {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  @media (max-width: 700px) {
    font-size: 1.5em;
  }
}

h2.headline {
  display: flex;
  justify-content: center;
  width: 100%;

  //text-align: center;
  //  padding-left: 50%;
}

/* Style fyror title */

/* style for video and poster */
.videoDiv {
  position: relative;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.2);
}

/*  style for svg   */

.pic {
  width: 7%;
  height: 4%;
  padding: 6px;

  @media (min-width: 1000px) {
    width: 5%;
    height: 2%;
  }
}

.media {
  position: relative;
}

/*  Style for the play button inside the pictures */

/*  Style for the container that keeps the svg icons  */

.container {
  display: flex;
  padding: 15px;
  justify-content: center;
}

/* Style for the text to go back to index.html */

.back {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.owerlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/img/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20% 20%;

  @media (min-width: 1000px) {
    background-size: 20% 20%;
  }
}
